@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf7f7;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #cbdee0;
    border-radius: 100vh;
    border: 3px solid #edf5f7;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a0bcc0;
  }
}
